<html>
<head>
	<title> URL submitted successfully</title>
</head>
<body>
	<center><p><h3> URL submitted by you is : {{ url }}</h3></p></center>
	<center><p><h3> Submitted URL is : {{ status }}</h3></p></center>
</body>

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7%;
      background-color: #ee422e;
      color: rgb(0, 0, 0);
      text-align: center;
    }
    </style>
    
    <div class="footer">
      <div class="contact">
        <a target="_blank" href="https://github.com/imsanjoykb"><i class="fab fa-github fa-lg contact-icon"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/imsanjoykb/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
    <h4 class='footer-description'>Developed by Sanjoy Biswas</h4>
    </div>

</html>

